@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  // fonts

  --header-font: "Poppins", sans-serif;
  --body-font: "Poppins", sans-serif;
  --primary: #6a4a73;
  --primary-fade: #e1dae2;
  --secondary: #f1c765;
  --secondary-fade: #f8e7c0;
  --text: #878a9a;
  --blue: #4d7da5;
  --green: #aff0d3;
  --white: #fff;
  --black: #000;
  --base: #f2f2f4;
}
